<div class="row g-3">
    @for (var i = 0; i < Count; i++)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card placeholder-glow">
                <div class="placeholder-image" style="height: 200px;">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div class="card-body">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-5 mt-2"></span>
                    <span class="placeholder col-3 mt-2"></span>
                </div>
            </div>
        </div>
    }
</div>

@code {
    /// <summary>
    /// The number of placeholder cards to display.
    /// </summary>
    [Parameter]
    public int Count { get; set; } = 8;
}
