@inherits LayoutComponentBase
@inject JwtAuthenticationStateProvider AuthStateProvider
@inject ITokenStorageService TokenStorage
@inject NavigationManager Navigation
@inject IToastService ToastService
@inject IJSRuntime JS

<NavMenu IsDarkMode="_isDarkMode" OnToggleDarkMode="ToggleDarkMode" OnLogout="Logout" />

<main class="container-xl py-4">
    @Body
</main>

<ToastContainer />

@code {
    private bool _isDarkMode = true;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("bootstrapInterop.setTheme", _isDarkMode ? "dark" : "light");
        }
    }

    private async Task ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;
        await JS.InvokeVoidAsync("bootstrapInterop.setTheme", _isDarkMode ? "dark" : "light");
    }

    private async Task Logout()
    {
        await TokenStorage.RemoveToken(CancellationToken.None);
        AuthStateProvider.NotifyAuthenticationStateChanged();
        ToastService.Show("Successfully logged out", ToastLevel.Info);
        Navigation.NavigateTo("/");
    }
}
