@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/norse.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/norse.bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

.font-norse {
    font-family: 'Norse', serif;
    font-size: 1.6rem;
    letter-spacing: 0.15em;
}
